body{ 
  font-size: 15pt;
  font-family: arial;
}

input[type=checkbox]{
  position:absolute;
  left: -100vw;
}

input[type=checkbox]:checked+label {
  color: #f00;
  font-style: normal;
}

.toggle-heart{
  align-self: center;
  color: #aab8c2;
  font-size: 2em;
  cursor: pointer;
}

.centerTable {
  margin: 0px auto;
  color: #FFFFFF;
}
