{% extends 'menuTemplate.html' %}
{% block content %}
 <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
 <script>
    $(document).ready(function() {
        $("button").click(function(){
            var favorite = [];
            $.each($("input[name='favoriteoption']:checked"), function(){
                favorite.push($(this).val());
            });
            alert("My favourites: " + favorite.join(", "));
            var url = "/savefave";
            $.post(url, {'favs[]': favorite});
        });
    });
 </script>   
  
{% if g.user %}
      <li>{{ g.user['user_name'] }}
      <li><a href="{{ url_for('logout') }}">Log Out</a>
{% else %}
      <li><a href="{{ url_for('register') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
{% endif %}
        
{% if g.user %}
  {% block header %}
    <h1>{% block title %}Saved Favorites{% endblock %}</h1>
      <a class="action" href="{{ url_for('saved') }}">Saved List</a>
  {% endblock %}
{% endif %}

  <h1>Hosts</h1>

  <form>
  <div>
    {% for n in host %}
    <input id="{{n}}" value="{{n}}" name="favoriteoption" type="checkbox"/>
    <label class="toggle-heart" for="{{n}}">❤</label>    
    <a href="{{url_for('hostdetails', hostname=n)}}">{{n}}</a>
    {% endfor %}
  </div>
  
  </form>  

  
    <h1>Networks</h1>

  <div>
    {% for n in network %}
    <input id="{{n}}" value="{{n}}" name="favoriteoption" type="checkbox"/>
    <label class="toggle-heart" for="{{n}}">❤</label>  
    <a href="{{url_for('networkdetails', networkname=n)}}">{{n}}</a>
    {% endfor %}
  </div>
  
  
    <h1>Show</h1>

  <div>
    {% for n in show %}
    <input id="{{n}}" value="{{n}}" name="favoriteoption" type="checkbox"/>
    <label class="toggle-heart" for="{{n}}">❤</label>  
    <a href="{{url_for('showdetails', showname=n)}}">{{n}}</a>
    {% endfor %}
  </div>


{% if g.user %}
    <button type="button">Save Favorites</button>
{% endif %}
  
{% endblock %}