---
---

<!-- Adapted from https://github.com/codrops/GoogleNexusWebsiteMenu - pretty awesome template!-->
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Sefer Similarity Map</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href = "../static/favoriting.css" />
		<link rel="stylesheet" type="text/css" href = "../static/normalize.css" />
		<link rel="stylesheet" type="text/css" href = "../static/demo.css" />
		<link rel="stylesheet" type="text/css" href = "../static/component.css" />
		<script src="{{ '../static/modernizr.custom.js | relative_url') }}"></script>
	</head>
	<body>
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
	<!-- 							<li class="gn-search-item">
									<input placeholder="Search" type="search" class="gn-search">
									<a class="gn-icon gn-icon-search"><span>Search</span></a>
								</li> -->
								<li><a class="gn-icon gn-icon-download" href="{{ url_for('networkPage') }}">Networks</a></li>
								<li><a class="gn-icon gn-icon-illustrator" href="{{ url_for('showPage') }}">Shows</a></li>
								<li><a class="gn-icon gn-icon-photoshop" href="{{ url_for('episodePage') }}">Episodes</a></li>
								<li><a class="gn-icon gn-icon-cog" href="{{ url_for('hostPage') }}">Hosts</a></li>
<!-- 								<li><a class="gn-icon gn-icon-help">Help</a></li>
								<li><a class="gn-icon gn-icon-archive">Archives</a></li>
								<li><a class="gn-icon gn-icon-article">Articles</a></li>
								<li><a class="gn-icon gn-icon-pictures">Images</a></li>
								<li><a class="gn-icon gn-icon-videos">Videos</a></li> -->
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><a href="{{ url_for('index') }}">Podcast Database</a></li>
				<li><a class="codrops-icon codrops-icon-prev" ><span>Joseph Hostyk and Alex Zaloum</span></a></li>
				<li><a class="codrops-icon codrops-icon-drop" ><span>Sefaria</span></a></li>
			</ul>
			    {% block pageTitle %}

			<header>
				<h1>Sefer Similarity<span>Map, with a template from <a href="https://tympanus.net/codrops/2013/07/30/google-nexus-website-menu/">Codrops</a>.</span></h1>	
			</header> 
			    {% endblock %}

		</div><!-- /container -->
		<script src="../static/classie.js"></script>
		<script src="../static/gnmenu.js"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>

		 <div id="content">{% block content %}{% endblock %}</div>

	</body>
</html>
