{% extends 'menuTemplate.html' %}
  {% block pageTitle %}


      <header>
        <h1>Networks</h1> 
      </header>

    {% endblock %}

{% block content %}

 <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
 <script>
    $(document).ready(function() {
        $("button").click(function(){
            var favorite = [];
            $.each($("input[name='favoriteoption']:checked"), function(){
                favorite.push($(this).val());
            });
            alert("Delete favourites: " + favorite.join(", "));
            var url = "/deletefave";
            $.post(url, {'favs[]': favorite});
        });
    });
 </script>   

  <h1>People</h1>
<!--   <div>{{host}}</div> -->

  <div>
    {% for n in people %}
    <input id="{{n}}" value="{{n}}" name="favoriteoption" type="checkbox"/>
    <label class="toggle-heart" for="{{n}}">X</label>  
    <a href="{{url_for('hostdetails', hostname=n)}}">{{n}}</a>
    {% endfor %}
  </div>

  
<!--    <h1>Guests</h1> -->
<!--   <div>{{guest}}</div> -->

 <!-- <div>
    {% for n in guest %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->
  
    <h1>Networks</h1>
<!--   <div>{{network}}</div> -->

  <div>
    {% for n in networks %}
    <input id="{{n}}" value="{{n}}" name="favoriteoption" type="checkbox"/>
    <label class="toggle-heart" for="{{n}}">X</label>  
    <a href="{{url_for('networkdetails', networkname=n)}}">{{n}}</a>
    {% endfor %}
  </div>
  
  
    <h1>Show</h1>
<!--   <div>{{show}}</div> -->

  <div>
    {% for n in shows %}
    <input id="{{n}}" value="{{n}}" name="favoriteoption" type="checkbox"/>
    <label class="toggle-heart" for="{{n}}">X</label>  
    <a href="{{url_for('showdetails', showname=n)}}">{{n}}</a>
    {% endfor %}
  </div>

  <h1>Episode</h1>
<!--   <div>{{episode}}</div> -->

  <div>
    {% for n in episodes %}
    <input id="{{n}}" value="{{n}}" name="favoriteoption" type="checkbox"/>
    <label class="toggle-heart" for="{{n}}">X</label>  
    <a href="{{url_for('episodedetails', epiname=n)}}">{{n}}</a>
    {% endfor %}
  </div> 
  
<button type="button">Delete Favorites</button>



{% endblock %}


